@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #151515;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #252424;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #767373;
}
